fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.6
scikit-learn==1.5.2
openai==1.59.8
python-multipart==0.0.20

# LangChain & LangSmith for observability and tracing
langsmith==0.2.11
langchain==0.3.13
langchain-groq==0.2.1
langchain-community==0.3.13
langchain-openai==0.2.14